body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
}

.calculator {
    text-align: justify;
}

#display {
    width: 200px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.buttons button {
    width: 70px;
    height: 100px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}
